@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --formbricks-brand: #000000;

  /* Fill Colors */
  --formbricks-fill-primary: #fefefe;
  --formbricks-fill-secondary: #0f172a;
  --formbricks-fill-disabled: #e0e0e0;

  /* Label Colors */
  --formbricks-label-primary: #0f172a;
  --formbricks-label-secondary: #384258;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #e0e0e0;
  --formbricks-border-secondary: #0f172a;
  --formbricks-border-disabled: #ececec;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* Brand Colors */
  --formbricks-brand: #0f172a;

  /* Fill Colors */
  --formbricks-fill-primary: #0f172a;
  --formbricks-fill-secondary: #e0e0e0;
  --formbricks-fill-disabled: #394258;

  /* Label Colors */
  --formbricks-label-primary: #fefefe;
  --formbricks-label-secondary: #f2f2f2;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #394258;
  --formbricks-border-secondary: #e0e0e0;
  --formbricks-border-disabled: #394258;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
  /* * {
    @apply border-border outline outline-1 outline-[color:oklch(0.708_0_0)/0.5];
  } */
  
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

.filter-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.filter-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

input:focus {
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-shadow: 0 0 #000 !important;
  box-shadow: none;
}


/* View Transition Wave Effect */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  /* Ensure the outgoing view (old theme) is beneath */
  z-index: 0;
}

::view-transition-new(root) {
  /* Ensure the incoming view (new theme) is always on top */
  z-index: 1;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Hide the clear button for input type "search" */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

.surveyFilterDropdown[data-state="open"] {
  background-color: #0f172a;
  color: white;
}
.surveyFilterDropdown:hover * {
  background-color: #0f172a;
  color: white;
}

input[type="range"]::-webkit-slider-thumb {
  background: #0f172a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
}

::view-transition-new(root) {
  /* Apply the reveal animation */
  animation: reveal 0.4s ease-in-out forwards;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 0;
}
::view-transition-new(root) {
  z-index: 1;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}
::view-transition-new(root) {
  animation: reveal 0.4s ease-in-out forwards;
}